<configuration>
<system.net>
    <mailSettings>
     <smtp from="finiup@doifoo.zendesk.com">
      <network host="mail.zendesk.com" port="25" />
     </smtp>
    </mailSettings>
  </system.net>
<system.webServer>
    <httpErrors errorMode="Custom"  existingResponse="Replace">
      <remove statusCode="500"/>
      <!--<error statusCode="500" responseMode="File" path="\Error\404.htm"/>-->
      <error statusCode="500" responseMode="File" path="transact.html"/>
    </httpErrors>
  </system.webServer>
</configuration>